body {
    background-image: url(../CSS/css_img/clound.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#name {
    background-image: url(../CSS/css_img/flower.png), url(../CSS/css_img/wind.jpg);
    background-repeat: no-repeat;
    background-position: right, center;
    background-size: 100px, cover;
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
}

div#txt {
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 40px;
    text-align: center;
}

div#img {
    text-align: center;
}