body {
    margin: 0px;
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}

.h_logo {
    display: flex;
    align-items: center;
}

.topnav {
    display: flex;
    justify-content: space-between;
}

.topnav div {
    text-align: center;
    text-decoration: none;
    display: flex;
}

#menu a {
    color: rgb(0, 0, 0);
    padding: 10px;
    vertical-align: middle;
}


#menu div {
    padding: 0px;
}

#menu div:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
}

#logo {
    display: flex;
    padding: 0px;
}

#logo div img {
    vertical-align: middle;
}

#logo a:hover {
    background-color: lightblue;
    color: rgb(255, 255, 255);
    margin: 0px;
}

#lucy {
    margin: 6px 4px 4px 4px;
}

.background {
    position: relative;
}


#bg {
    opacity: 0.75;
}

#mid {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

#mid_left {
    display: flex;
    position: absolute;
    top: 35%;
    left: 40%;
}

#mid_left img {
    margin-top: 10px;
    margin-right: 5px;

}

#mid_right img {
    margin-top: 10px;
    margin-right: 5px;
}

#mid_right {
    display: flex;
    position: absolute;
    top: 35%;
    right: 40%;
}

#bot_left {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 5%;
    align-items: center;
    color: #ddd;
}

#bot_right {
    position: absolute;
    bottom: 10%;
    right: 2%;
    border: dotted 3px white;
    color: #ddd;
    padding: 10px;
}

#bot_right h3 {
    color: red;
}