body {
    background-color: rgb(35, 4, 51);
    margin: 0px;
}

#header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin: 10px;
}

#menu {
    display: flex;
    justify-content: space-around;
}

#menu div {
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    margin: 20px;
}

#menu a {
    color: white;
    padding: 10px;
    vertical-align: middle;
    text-decoration: none;
}

#menu div:hover {
    padding: 10px;
    background-color: rgb(255, 163, 253);
    color: rgb(0, 0, 0);
}

.main {
    background-image: url(A_css_img/hack_code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 60%;
    position: relative;
}

.main {
    min-height: 800px;
    height: calc(100vh);
}

#earth img {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 20%;
    opacity: 60%;
}

#name {
    font-family: 'Krona One', sans-serif;
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 45px;
    color: white;
}

#name h1 {
    color: rgb(255, 163, 253);
}


@media (max-width: 960px) {
    #name {
        font-family: 'Krona One', sans-serif;
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 30px;
        color: white;
    }

    #earth img {
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 40%;
    }
}

@media (max-width: 640px) {
    #name {
        font-family: 'Krona One', sans-serif;
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 20px;
        color: white;
    }

    #earth img {
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 50%;
        opacity: 60%;
    }
}

@media (max-width: 410px) {
    #name {
        font-family: 'Krona One', sans-serif;
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 20px;
        color: white;
    }

    #earth img {
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 50%;
        opacity: 60%;
    }
}